<h1>Application home</h1>

<lib-lib-utils></lib-lib-utils>

<!-- <nav>
  <a class="card" href="{{envVariable.APP_HOME}}">
    <span>Home</span>
    <p></p>
  </a>

  <a class="card"  href="{{envVariable.APP_RESTAURANTS}}">
    Restaurants
    <p></p>
  </a>

  <a class="card"  href="{{envVariable.APP_ORDERS}}">
    Orders
    <p></p>
  </a>
</nav> -->

<!-- <nav>
  <a class="Button" [routerLink]="[ envVariable.APP_HOME ]">Home</a>
  <a class="Button" [routerLink]="[ envVariable.APP_RESTAURANTS ]">Restaurants</a>
  <a class="Button" [routerLink]="[ envVariable.APP_ORDERS ]">Orders</a>
</nav> -->

<router-outlet></router-outlet>
